{% extends 'base.html' %}

{% block title %}Visualización de Datos{% endblock %}

{% block content %}
<h2>Estadísticas del Equipo</h2>
<table>
    <tr>
        <th>Equipo</th>
        <th>Partidos Jugados</th>
        <th>Partidos Ganados</th>
        <th>Partidos Perdidos</th>
    </tr>
    <tr>
        <td>Equipo A</td>
        <td>10</td>
        <td>7</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Equipo B</td>
        <td>12</td>
        <td>9</td>
        <td>3</td>
    </tr>
</table>
{% endblock %}

